
#pattern {
	background-image: url(../images/bodybackground.jpg);
}

#Game-Title {
	font-size: 30px;
	background-color: #e65c00;
	text-align: center;
	color: white;
	font-weight: bold;
	padding: 20px;
	margin: 5px;
	width: 230px;
}

#Game-Directions {
	background-color: #ffe063;
	width: 400px;
	color: green;
	font-weight: bold;
	margin: 5px;
}

#Computer-Number {
	float: left;
	background-color: lightgreen;
	width: 200px;
	height: 100px;
	margin: 5px;
	font-size: 30px;
}

#Wins-Losses {
	float: left;
	font-weight: bold;
	background-color: lightblue;
	width: 100px;
	height: 100px;
	margin: 5px;
}

h2 {
	Float: left;
}

#crystalarea {
	clear: both;
	height: 60px;
	width: 250;
	margin: 5px;
}

#crystals {
	width: 60px;
	height: 60px;
	background-color: white;
}

button {
	cursor: pointer;
}

#scoretext {
	background-color: green;
	margin-top: 20px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	width: 200px;
	height: 20px;
	color: white;
	font-weight: bold;
}

#score {
	background-color: green;
	margin: 5px;
	width: 200px;
	height: 120px;
	color: white;
	font-size: 30px;
}




